:host {
  display: block;
  height: 100%;
}

ion-content {
  --background: transparent;
}

iframe {
  background: transparent;
  pointer-events: none;
}

.settings-modal {
  --width: 95%;
  --height: 95%;
  --max-width: 1000px;
  --max-height: 800px;
  --border-radius: 1.5rem;

  @media (min-width: 768px) {
    --width: 80%;
    --height: 80%;
    --border-radius: 2rem;
  }
}

.cursor-nwse-resize {
  cursor: nwse-resize;
}

.origin-top-left {
  transform-origin: top left;
}
